<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jf.mybatis.mapper.CacheKeyQueueMapper">

    <sql id="Base_Column_List">
        id,cache_key,create_time
    </sql>

    <delete id="deleteById">
        delete
        from cache_key_queue
        where id = #{id}
    </delete>

    <select id="selectByPrimaryKey" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from cache_key_queue
        where id = #{id}
    </select>

    <insert id="insert">
        insert into cache_key_queue
            (id, cache_key, create_time)
        values (#{id}, #{cacheKey}, #{createTime})
    </insert>

    <update id="updateByPrimaryKey">
        update cache_key_queue
        set cache_key   = #{cacheKey},
            create_time = #{createTime}
        where id = #{id}
    </update>

    <update id="logicDeleteById">
        update cache_key_queue
        set is_deleted = 1
        where id = #{id}
    </update>

</mapper>
